<header class="main-header">
    <!-- Logo -->
    <a href="{{ path('app_agreement') }}" class="logo">
        <span class="logo-mini"><b>T</b>DKF</span>
        <span class="logo-lg"><b>Test</b>DOKIFY</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
        </div>
    </nav>
</header>
